#container {
    margin: 0 auto;
}

#container .header {
    width: 100%;
    height: 80px;
    background: #8BDDF2;
}


/*
    父容器:
    1. 溢出隐藏
    2. 设置容器的内边距, 用来空出位置放置左右两个边栏.
 */
#container .wrapper {
    overflow: hidden;
    padding: 0 200px;
    min-width: 300px;
    margin: 10px 0;
}

/*
    主题:
    1. 宽度自适应(100%)
    2. 浮动布局.
 */
#container .wrapper .main {
    width: 100%;
    height: 400px;
    /*background: #4EA4DC;*/
    float: left;
}

/*
    边栏:
    1. 边栏宽度比容器内边距小10px. 用于实现与主体隔开.
    2. 浮动布局
 */
#container .wrapper aside {
    width: 190px;
    height: 300px;
    background: #8BDDF2;
    float: left;
    position: relative;
}

/*
    左边栏
    1. 移动到主内容位置, 主内容自适应, 宽度为100%, 所以使用相对值100%
    2. 再移动到左边, 使用相对定位.
 */
#container .wrapper .left {
    margin-left: -100%;
    left: -200px;
}

#container .wrapper .right {
    margin-left: -190px;
    left: 200px;
}

#container .footer {
    width: 100%;
    height: 120px;
    background: #8BDDF2;
    margin-bottom: 10px;
}


h1 {
    text-align: center;
    font-size: 4em;
}

#ct_img {
    width: 80%;
    margin: 0 auto;
    /*border: 2px solid #0F0;*/
    margin-bottom: 50px;
}