
.first_logo{
    color:#74D8F1 ;
    font: normal 2em 幼圆;
}
.second_logo{
    color: #4EA4DC;
    font: normal 2em 幼圆;

}
.menu{
    color: #8BDDF2;
}
.bottom{
    background: black;
}


header > a:link, a:visited{
    text-decoration: none;
    font: normal 1.4em 幼圆;
    color: #86DCF0;
}
header > a:hover, a:active{
    text-decoration: none;
    font: normal 1.4em 幼圆;

    color: white;
    background:#8BDDF2 ;
}
footer > a:link{
    text-decoration: none;
    font: normal 1.2em 幼圆;
    color: white;
}
body{
    font-size: 62.5%;
}