
.first_logo_color{
    color:#74D8F1 ;
}
.second_logo_color{
    color: #4EA4DC;
}
.menu{
    color: #8BDDF2;
}
.bottom{
    background: black;
}

footer > a:link{
    font-size: 12px;
    color: white;
    text-decoration: none;
}
header > a:link{
    text-decoration: none;
    font-size: 14px;
    color: #86DCF0;
}
header > a:hover{
    text-decoration: none;
    font-size: 14px;
    color: white;
    background:#8BDDF2 ;
}